
.nav-bar nav {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: coral;
  background: #484848;
  user-select: none;
  padding: 0 40px;
  border-bottom: 5px solid coral;
  margin-right: 30px;
}

nav a {
  text-decoration: none !important;
}

nav div.link-item {
  margin: 0 20px 0 20px;
  color: #ffffff;
  font-weight: 300;
  font-size: 22px;
}

nav i.logo {
  font-size: 55px;
  left: 40px;
  position: absolute;
  color: coral;
}



img {
  width: 200px;
  height: 250px;
  
}
img:hover {
  box-shadow: 10px 10px 5px #ccc;
}

.all-projects {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap ;
  margin-top: 30px;
  width: 600px;
}

.single-project {
  display: flex;
  justify-content: center;
  width: 400px;
}

.single-img {
  height: 400px;
  width: 350px;
}

.banner {
  width: 1500px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.volunteer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}